[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Android???????????JSON??????????????????APP??????????????????????????????
[access "refs/*"]
	owner = group user/贵州山魈羡民 (liyujiang-gzu)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/贵州山魈羡民 (liyujiang-gzu)
	label-Verified = -1..+1 group user/贵州山魈羡民 (liyujiang-gzu)
	push = group user/贵州山魈羡民 (liyujiang-gzu)
	read = group user/贵州山魈羡民 (liyujiang-gzu)
	rebase = group user/贵州山魈羡民 (liyujiang-gzu)
	removeReviewer = group user/贵州山魈羡民 (liyujiang-gzu)
	submit = group user/贵州山魈羡民 (liyujiang-gzu)
[access "refs/heads/*"]
	create = group user/贵州山魈羡民 (liyujiang-gzu)
	push = +force group user/贵州山魈羡民 (liyujiang-gzu)
	pushMerge = group user/贵州山魈羡民 (liyujiang-gzu)
	read = group user/贵州山魈羡民 (liyujiang-gzu)
[access "refs/tags/*"]
	push = group user/贵州山魈羡民 (liyujiang-gzu)
	push = +force group user/贵州山魈羡民 (liyujiang-gzu)
